*~
.eunit/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
c_src/*.la
c_src/*.lo
c_src/*.o
c_src/.deps/
c_src/.libs/
c_src/Makefile
c_src/Makefile.in
compile
config.*
configure
depcomp
deps/
ebin/
erl_crash.dump
install-sh
libtool
ltmain.sh
missing
priv/*.so
priv/erlang-rtplib.spec
