{post_hooks, [{compile, "sed -i -e \"s,%VSN%,${VSN},g\" ebin/rtplib.app"}]}.
{cover_enabled, true}.
{eunit_opts, [verbose]}.
% Suppress ports compilation
{port_specs, [{null, []}]}.

{deps, [
    {skerl, ".*", {git, "git://github.com/basho/skerl.git", {tag, "1.1.0"}}},
    {erlando, ".*", {git, "git://github.com/lemenkov/erlando.git", {branch, "no_parametrized_modules"}}}
]}.
