{pre_hooks, [{compile, "sed -e \"s,%VSN%,${VSN},g;s,%DATE%,${BUILD_DATE},g\" priv/erlang-rtplib.spec.in > priv/erlang-rtplib.spec"}]}.
{post_hooks, [{compile, "sed -i -e \"s,%VSN%,${VSN},g\" ebin/rtplib.app"}]}.
{cover_enabled, true}.
{erl_opts, [debug_info]}.
{eunit_opts, [verbose]}.
% FIXME not all drivers shouls be linked wth -lgsm -lspandsp
{port_envs,
	[
		{"CFLAGS", "$CFLAGS -I/usr/include/webrtc"},
		{"LDFLAGS", "$LDFLAGS -lgsm -lspandsp -ltiff -lm -lsamplerate -lspeex -lwebrtc_codecs_ilbc"}
	]
}.
{so_specs,
	[
		{"priv/dvi4_codec_drv.so", ["c_src/dvi4_codec.o"]},
		{"priv/g722_codec_drv.so", ["c_src/g722_codec.o"]},
		{"priv/gsm_codec_drv.so", ["c_src/gsm_codec.o"]},
		{"priv/pcmu_codec_drv.so", ["c_src/pcmu_codec.o"]},
		{"priv/pcma_codec_drv.so", ["c_src/pcma_codec.o"]},
		{"priv/speex_codec_drv.so", ["c_src/speex_codec.o"]},
		{"priv/ilbc_codec_drv.so", ["c_src/ilbc_codec.o"]},
		{"priv/resampler_drv.so", ["c_src/resampler.o"]}
	]
}.
